.cajaPanel {
  border-radius: 20px;
  background-color: #242424;
  height: 180px;
  text-align: center;
  color: white;
  padding: 30px;

  .icono-dashboard {
    width: 110px;
    height: 110px;
    margin: 0 auto;
  }
}


