.responsive-iframe-rutas {
  width: 100%;
  height: 95vh;
  @media (max-width: 992px) {
    height: 100vh;
  }
}

.fondo-gris {
  background-color: $grisFondo;
}

.barra-top-dashboards {
  display: flex;
  justify-content: right;
  padding: 10px 40px;
  align-items: center;
}
