$amarillo: #fcbc1d;
$verde_puntaje: #95c11f;
$rojo_puntaje: #fc225b;
$naranja_puntaje: #f9b233;
$azul_puntaje: #008fb1;
$gris: #535353;
$blanco: #ededed;
$grisFondo: #424242;
$disabled: #9d9d9d;
$grisCampos: #555555;
$grisTabla: #706f6f;
